<div>
    <menu class="menu">
        <!--<form (ngSubmit)="onSubmit()" class="form-inline my-2 my-lg-0">
            <input (keyup)="searchSerial(search)" [(ngModel)]="search" aria-label="Search" class="form-control mr-sm-2"
                   name="search"
                   placeholder="Search" type="search">
        </form>-->
        <div class="search-bar">
            <input type="text" placeholder="Search.."
                   name="search"
                   [(ngModel)]="searchParameter"
                   (input)="searchValue()">
        </div>


        <div class="list">
            <ul>
                <li *ngFor="let city of cities ">
                    <a (click)="flyTo(city)">{{ city.name }}</a>
                </li>
            </ul>
        </div>


        <div class="data" *ngIf="oneCityDetails">

            <h3> {{selectedPlace}} </h3>
            <p>{{oneCityDetails.type}} {{oneCityDetails.unit}}</p>
        </div>

        <!--<div class="calendar">
            <label for="start">Start date:</label>

            <input type="date" id="start" name="trip-start"
                   value="2018-07-22"
                   min="2018-01-01" max="2018-12-31">

        </div>-->


    </menu>


    <div id='map' class="map-container"></div>
</div>