<menu class="menu">

    <div class="search-bar">
        <input type="text" placeholder="Search..">
    </div>


    <!--<div class="navbar">
        <a routerLink="/">Home</a>
        <a routerLink="/place/1">News</a>
    </div>
-->

    <router-outlet></router-outlet>

    <div class="calendar">
        <label for="start">Start date:</label>

        <input type="date" id="start" name="trip-start"
               value="2018-07-22"
               min="2018-01-01" max="2018-12-31">

    </div>

    <!--<time datetime="1914-12-20T08:00">   means 20 December 1914 at 8am -->
    <!--<div class="calendar">
      <form action="/action_page.php">
        <label for="birthdaytime">Birthday (date and time):</label>
        <input type="datetime-local" id="birthdaytime" name="birthdaytime">
        <input type="submit">
      </form>
    </div>-->

</menu>