* {
    margin: 0;
    padding: 0;

}
html, body { height: 100%; }
body {
    margin: 0 auto;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    max-width: 100%;
    min-height: 100vh;
}

.background-color {
    background: #242526;
}
html {
    zoom: 1;
    scroll-behavior: smooth;
}
